ion-content {
	
	--background: url('https://images.unsplash.com/photo-1536431311719-398b6704d4cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80')
		0 0/100% 100% no-repeat;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
  }
.input-group {

	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 15px;
}
ion-item{
	padding: 10px;
}
.errors {
	font-size: x-small;
	color: #f61a1a;
	// background: var(--ion-color-danger);
	padding-left: 15px;
	// padding-top: 5px;
	// padding-bottom: 5px;
}
ion-input{
	font-size: 12px;
}

.custom-toast::part(message) {
    font-style: italic;
    text-align: center;
  }

  .custom-toast {
    --background: #333; // Background color
    --color: #fff; // Text color
    --border-radius: 10px; // Border radius
    --max-width: 70%; // Maximum width of the toast
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --animation-duration: 1s;
    

    // Small screen styles
    @media (max-width: 767px) {
      --max-width: 90%; // Adjust max-width for small screens
      --padding: 10px; // Padding for small screens
      --font-size: 14px; // Font size for small screens
    }
    
    // Large screen styles
    @media (min-width: 768px) {
      --padding: 20px; // Padding for large screens
      --font-size: 16px; // Font size for large screens
    }



    animation-name: fade-in; // Name of the animation
    animation-duration: var(--animation-duration); // Duration of the animation
    animation-fill-mode: forwards; // Animation fill mode
  
    @keyframes fade-in {
      from {
        opacity: 0; // Start opacity
      }
      to {
        opacity: 1; // End opacity
      }
    }
  
  }

