<ion-header>
  <ion-toolbar>
    <ion-title>{{selectedUser.username}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false" class="ionic_content" #content>
  <div>
    <div>
      <ion-list lines="none">
        <ion-item *ngFor="let message of messages" [ngClass]="getMessageClass(message)">
          <ion-label class="message-container">
            <div class="message-text">{{ message.text }}</div>
            <div class="message-info">{{ message.from }}</div>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="footer-chat">
      <ion-footer>
        <ion-toolbar>
          <ion-input placeholder="Type your message..." [(ngModel)]="newMessage" clearInput></ion-input>
          <ion-button slot="end" (click)="sendMessage()">Send</ion-button>
        </ion-toolbar>
      </ion-footer>
    </div>
  </div>
</ion-content>

