
.item .sc-ion-label-md-h {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-text {
  padding: 8px 12px;
  border-radius: 20px;
  max-width: 70%;
}

.sender-right .message-text {
  align-self: flex-end;
  background-color: #007bff;
  color: #fff;
}

.sender-left .message-text {
  align-self: flex-start;
  background-color:#bb50ffa8;
  color: #fff;
}

.message-info {
  font-size: 14px;
  color: #555;
}

.sender-right .message-info {
  text-align: right;
}

.sender-left .message-info {
  text-align: left;
}


.ionic_content {
  padding-top: 56px; /* Adjust according to your header's height */
  // padding-bottom: 56px; /* Adjust according to your footer's height */
  overflow-y: scroll; /* Enable vertical scrolling */
  height: calc(100vh - 170px); /* Calculate height of content area, minus header and footer height */
}

.footer-chat {
  position: fixed;
  bottom: 0px;
  width: 62%;
  padding-left: 10px;
  padding-bottom: 10px;
}
.list-md {
  background: none;
}

.sender-right {
  text-align: right;
}

.sender-left {
  text-align: left;
}

