.fullscreen-textarea {

    resize: none;
    border: none;
    font-size: 16px; /* Adjust font size as needed */
    color: #faf5f5; /* Default text color */
    // background-color: #fff; /* Default background color */
  }
  
//   .controls-overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     pointer-events: none; /* Ensure controls do not block textarea interaction */
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
  
  /* Add additional styles for your controls as needed */
  